%h1 Forgot password?

Fill out the form below and instructions to reset your password will be emailed to you:

= simple_form_for :password_reset, :url => password_resets_path, :method => :post do |f|
  = f.input :email
  = f.button :submit
