%h1 Listing leagues

%table
  %tr
    %th Name
  
  - @leagues.each do |league|
    %tr
      %td 
        =link_to "#{league.name}", league_rounds_path(league.id)
      - if logged_in?
        %td
          = link_to 'Edit', edit_league_path(league)
        %td
          = link_to 'Destroy', league, :confirm => 'Are you sure?', :method => :delete

%br
- if logged_in?
  = link_to 'New league', new_league_path
