<% if @comment.errors.present? %>
  $("#comments").after('<div id="error"><%= escape_javascript(generate_error_messages(@comment)) %></div>');
<% else %>
  $("#comments").after('<div id="notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
  $("#comments").append("<%= escape_javascript(render(:partial => @comment)) %>");
  $("#new_comment")[0].reset();
<% end %>
