<% if @saved %>
	$("#comments").after('<div id="notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
	$("#comments").append("<%= escape_javascript(render(:partial => @comment)) %>");
	$("#new_comment")[0].reset();
<% else %>
		$("#comments").after('<div id="error"><%=escape_javascript(flash.delete(:error)) %></div>');
<% end %>
