%h1 Listing matches
%ul
  - for match in @matches
    %il
      =h hour_minute( match.hour)
      =h match.home_team.name
      =h match.visitor_team.name
      =h match.score
      =h match.round.name
      = link_to 'Show', match
      = link_to_if match.score.empty?, 'Edit', edit_match_path(match)
      = link_to 'Destroy', match, :confirm => 'Are you sure?', :method => :delete
      %br

= link_to 'New match', new_match_path
