%h1 Listing matches
%table
  %tr
    %th Starts
    %th Home
    %th Visitor
    %th Score
    %th Round
  - for match in @matches
    %tr
      %td 
        =h hour_minute( match.hour)
      %td
        =h match.home_team.name
      %td
        =h match.visitor_team.name
      %td
        =h match.score
      %td
        =h match.round.name
      - if logged_in?
        %td
          = link_to_if match.score.empty?, 'Edit', edit_match_path(match)
          = link_to 'Destroy', match, :confirm => 'Are you sure?', :method => :delete
    %br
- if logged_in?
  = link_to 'New match', new_match_path
