= simple_form_for(@post) do |f|
  = f.input :title
  = f.input :content, :hint => t("textile_hint", :url => link_to( "textile", "http://www.textism.com/tools/textile/", :popup => true)).html_safe
  = f.button :submit, t("confirm"), :class => "button"
