%h1= t("gallery")
%ul
  - @albums.each do |album|
    %li
      = link_to "#{album[:title]}", :controller => 'galleries', :action=> 'photos', :id => album[:id]
      = pluralize ( album[:photos_count], 'photo' )
