- simple_form_for @user_session, :url => user_session_path do |f|
  %div= f.input :login
  %div= f.input :password
  %div= f.input :remember_me, :as => :boolean, :required => false
  %div= f.button :submit, "Login"
